<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href="../styles/style-page2.css">
	<title>Palo Alto</title>
	
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	
</head>
<body>
	
<wrapper class = "wrapper">	

<div class="content">
	<header class = "header">
			<a class = "header__logo-link logo" href="index.html">
					<img class="logo" src="../images/logo.png" alt="Error">
			</a>
			<nav class="nav">
				<ul class = "nav__ul">
					<li class = "nav-ul__link">
					<a class = "nav__li-link link-hover"  href="#">
					<span class = "text-link">HOME</span></a></li>
					
					<li class = "nav-ul__link">
					<a class = "nav__li-link" href="#"><span class = "text-link">ABOUT</span></a></li>
					
					<li class = "nav-ul__link">
					<a class = "nav__li-link" href="#">
					<span class = "text-link">ARCHIVE</span></a></li>
					
					<li class = "nav-ul__link">
						<a class = "nav__li-link" href="#">
						<span class = "text-link">CONTACT</span></a></li>
					
					<li class = "nav-ul__link">
					<a class = "nav__li-link" href="#">
					<img  src="../images/search.png" alt="Error">
					</a></li>
				</ul>
			</nav>
	</header>
	
	
	
	<main class = "main">
		<div class = "section">
			<h1 class = "main-title">contact us</h1>
			
			<div class = "hr"></div>
			
			<div class = "contant">
			<form  action="">
				<div>
				<input class = "form-elem" type="text" name = "name" placeholder="Your Name" tabindex = "">	
				<input class = "form-elem" type="text" name = "email" placeholder="Email">
			</div>
				<div>
				<input class = "form-elem" type="text" name = "subject" placeholder="Subject">
				</div>
				<div>
				<input type="text" name="text" placeholder="Your Message" >
				</div>
				<button type="submit">send message</button>
				
			</form>
			</div>
			
			
			
		
			
			
		</div>
		
		
		
		
		
			
			
			
		
		
		
		
		
	</main>
	</div>
</wrapper>	
	
	<footer class = "footer">
		<div class="footer-content">
			<img class="logo-footer" src="../images/hw2/logo-footer.png" alt="Error">
			
			
			<nav class="nav">
				<ul class = "nav__ul footer-content">
					<li class = "nav-ul__link">
					<a class = "nav__li-link link-hover"  href="#">
					<span class = "text-link">HOME</span></a></li>
					
					<li class = "nav-ul__link nav-footer-ul__link">
					<a class = "nav__li-link" href="#"><span class = "text-link">ABOUT</span></a></li>
					
					<li class = "nav-footer-ul__link nav-ul__link">
					<a class = "nav__li-link" href="#">
					<span class = "text-link">ARCHIVE</span></a></li>
					
					<li class = "nav-footer-ul__link nav-ul__link">
						<a class = "nav__li-link" href="#">
						<span class = "text-link">CONTACT</span></a></li>
					
					<li class = "nav-ul__link">
					<a class = "nav__li-link" href="#">
					<img  src="../images/hw2/search-white.png" alt="Error">
					</a></li>
				</ul>
			</nav>
			
			
		</div>
	</footer>
	
	
</body>
</html>